/* font
font-family: 'Cinzel', serif;*/

.blind {position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden;}
.banner img{width: 100%;}
.main_text h2{text-align: center; justify-content: center; padding: 80px 0; font-family: 'Cinzel', serif; font-size: 900; font-weight: bold;}

/* --------------index-------------------- */
/* header */
.header{display: flex; justify-content: space-evenly; align-items: center; padding: 20px 0; cursor: pointer;}
.logo img{width: 250px;}

/* banner */
.banner .swiper {width: 100%; height: 600px;}
.banner .swiper-slide {text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center;}
.banner .swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}

/* main */
/* panthe */
.panthe{padding: 80px 0;}
.panthe h2{padding: 40px; font-weight: bold; font-size: 20px; font-family: 'Cinzel', serif;}
.plist{display: flex; justify-content: space-around; margin: 0 auto; text-align: center;}
.plist img{width: 300px; border-radius: 200px; }
.plist p{padding: 10px; font-weight: bold;}

/* gift */
.gift{width: 100vw; margin: 0 auto; display: flex; padding: 100px 0;}
.gmain{padding-top: 70px; text-align: center;}
.gmain h2{font-weight: bold; text-align: center; font-family: 'Cinzel', serif; font-size: 900;}
.glist{display: flex; justify-content: space-between;padding-top: 70px; text-align: center;}
.glist h3{padding-top: 10px; font-weight:600;}
.glist p{padding-top: 10px; font-size: 13px;}
.glist img{width: 260px; padding-right: 30px; position: relative;}

.box{padding-top: 50px; }
.more{background: #fff; color: #000; border: 1px solid #A10915;padding: 8px 30px; font-size: 1.2rem; }
.more:hover {background: #A10915;  color: #fff; transition: all 0.3s; font-weight: 500;}
.sub{padding-left: 30px; right: 0;}
.sub img{ width: 580px; right: -53px; position: relative;}

/* ring */
.ring{width: 100%; height: 700px; background-image: url("../img/ringg.jpg");}
.ring h2{font-weight: 900; font-family: 'Cinzel', serif; text-align: center; font-size: 40px; position: relative; top: 300px; left: -330px;}

/* scroll */
.scroll {
/*Set a css background */ background:url(../img/serbg.jpg) fixed 100vw;
/*Dont mind the rest*/ width:100vw; line-height:300px; margin:0 auto; margin-top:150px; text-align:center; color:#000; }
.scroll h2{text-align: center; font-weight: bold; font-size: 16px;}
.scroll a {text-align:center; color:#666; -webkit-transition: opacit .5s; transition: opacity .5s;}
.scroll a:hover {-webkit-transition: opacity .5s;transition:opacity .5s; opacity:.5;}

.fir{display: flex; justify-content: space-around; padding: 80px;}
.fir img{width: 400px;}
.sed{display: flex; justify-content: space-around; padding: 80px;}
.sed img{width: 400px; padding-bottom: 33px;}
.ser4 img{height: 330px; padding-bottom: -15px;}

/* sns */
.sns{width: 100%; padding: 80px 0; margin: 0 auto;}
.sns h2{text-align: center; font-weight: bold;}
.sns p{text-align: center; line-height: 95px;}

.sns .sns-car{padding: 10px;}
.sns img{width: 200px; padding: 10px;}
.cara{text-align: center;}
.carb{text-align: center;}

/* youtube */
.youtube{text-align: center;}

/* news */
.news {background-size: cover; background-position: center; width: 100vw; padding: 400px 0; position: relative;}
.news .new_wrap {text-align: center; width: 50%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.news .new_wrap > * {margin: 50px 0;}
.news .new_wrap p {width: 40%; display: inline-block;}
.news .new_wrap p img {width: 100%;}
.news .new_wrap h1 {font-size: 1.5rem; font-weight: 600;}
.news .new_wrap .join {background: #A10915; color: #fff; padding: 10px 40px; font-size: 1.2rem;}
.news .new_wrap .join:hover {background: #fff; border: 1px solid #A10915; color: #000; transition: all 0.3s; font-weight: 600;}

/* footer */
footer {width: 100vw; height: 100px; background: rgba(0, 0, 0, 0.8); padding-top: 30px;}
footer p{text-align: center; color: #eee; line-height: 30px; letter-spacing: 1px; font-size: 14px;}


/* ---------------jewelry------------------- */
/* main */
.jew_list{display: flex;}

.jew_serch{text-align: center; padding: 50px 0;}
.jew_serch img{width: 130px;}
.jew_serch span{border: 1px solid #666;}

/* ---------------watches------------------- */
/* main */
.product{display: block; width: 225px; text-align: center; float:left; padding: 40px; /* margin-left: 10px; margin-right: 10px; margin-bottom: 30px; */}
.product img{width: 220px;}
.product-name{margin-top: 20px; margin-bottom: 4px;}

.we_serch{text-align: center; padding: 50px 0; clear: both;}
.we_serch img{width: 130px;}
.we_serch span{border: 1px solid #666;}


/* ---------------perfume------------------- */
/* main */
/* list */
.per_list{display: flex; justify-content: space-between; padding: 80px 0; text-align: center;}
.per_list h2{line-height: 3.3;}
.per_list p{line-height: 2;}
.per_list span{font-weight: bold; line-height: 1.8;}

.per_text{width: 100%; display: flex; padding: 50px 0;}
.per_text img{width: 50%;}
.per_inner {text-align: center; margin-top: 100px;}
.per_inner h2{font-weight: bold;}
.per_inner p{line-height:2.5;}
.per_inner a{border: 1px solid #666; line-height: 5;}


/* ---------------------------------- */